*{
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
}
#root{
    width:1200px;
    margin:0 auto;
}
.header{
    width:100%;
    height:50px;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #ccc;
}
.logo{
    width:100px;
    height:56px;
}
.logo img{
    width:100%;
    height:100%;
}
.homes{
    display: flex;
    width:800px;
    align-items: center;
}
.homes p{
    margin:0 10px;
}
.homes input{
    width:200px;
    height:30px;
}
