*{
    margin:0;
    padding:0;
}
.box{
    width:800px;
    height:800px;
    margin:20px auto;
    display: flex;
}
.left{
    width:150px;
    height:400px;
    border:1px solid #ccc;
}
.conts{
    width:100px;
    height:400px;
    text-align: center;
}
.conts div{
    width:50px;
    height:50px;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    background:#ccc;
    margin:10px auto;
}
.right{
    width:150px;
    height:400px;
    border:1px solid #ccc;
}