*{
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
}
html,body,#root{
    width:100%;
    height:100%;
}
.box{
    width: 100%;
    height:100%;
}
.wrap{
    width:100%;
    height:200px;
}
.wrap img{
    width:100%;
    height:100%;
}
.navs{
    width: 100%;
    height:50px;
    border-bottom: 1px solid #ccc;
    overflow-x: scroll;
}
.navs ul{
    display: flex;
}
.navs ul li{
    line-height: 50px;
    padding:0 10px;
    flex-shrink: 0;
}
.wraps{
    width: 100%;
    height: 334px;
    border:1px solid #ccc;
    border-radius: 10px;
    margin:10px 0;
}
.wraps img{
    width: 66%;
    height: 310px;
    text-align: center;
    margin:10px 70px;
}